.wrapper {
    padding: 2%;
    width: 96%;
    display: inline-block;
}
.container-fluid{
    height: 100vh;
}
.sub.wrapper {
    height: 300px;
    width: 300px;
}

@media (min-width: 700px) {
    .wrapper {
        width: 29%;
    }
}