#home{ 
  width: 100vh;
  height: 100vh;
}
#features{ 
  width: 100vh;
  height: 100vh;
}
#pricing{ 
  width: 100vh;
  height: 100vh;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
